/* google front */
/* @import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap'); */
@import "./google-front.css";

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: #033D7A;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #eff0f4;
}

.containers {
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 40px 60px;
}

.containers .drop {
  position: relative;
  width: 350px;
  height: 350px;
  box-shadow: inset 20px 20px 20px rgba(0, 0, 0, 0.05),
    25px 35px 20px rgba(0, 0, 0, 0.05), 25px 30px 30px rgba(0, 0, 0, 0.05),
    inset -20px -20px 25px rgba(255, 255, 255, 0.9);
  transition: 0.5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}
.containers .drop:nth-child(1) {
  border-radius: 57% 43% 43% 57% / 43% 43% 57% 57%;
}
.containers .drop:nth-child(2) {
  border-radius: 73% 27% 59% 41% / 57% 59% 41% 43%;
}
.containers .drop:nth-child(3) {
  border-radius: 35% 65% 31% 69% / 57% 59% 41% 43%;
}
.containers .drop:hover {
  border-radius: 50%;
}

.containers .drop .content {
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 40px;
  gap: 15px;
}
.containers .drop .content h2 {
  position: relative;
  width: 80px;
  height: 80px;
  background-color: #eff0f4;
  border-radius: 50%;
  box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.1),
    inset -2px -5px 10px rgba(255, 255, 255, 1),
    15px 15px 10px rgba(0, 0, 0, 0.05), 15px 10px 15px rgba(0, 0, 0, 0.025);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: var(--clr);
}
.containers .drop .content a {
  position: relative;
  padding: 10px 25px;
  background-color: var(--clr);
  text-decoration: none;
  color: #fff;
  border-radius: 25px;
  font-weight: 500;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  opacity: 0.75;
  transition: 0.5s;
}
.containers .drop .content a:hover {
  opacity: 1;
}

.containers .drop .content a::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 65%;
  height: 5px;
  border-radius: 5px;
  top: 8px;
  background-color: rgba(255, 255, 255, 0.4);
}
