@tailwind base;
@tailwind components;
@tailwind utilities;

.Layout:has(.VPHome) {
  background-image: url('./public/cover@xl.webp');
                
  background-repeat: no-repeat;
  background-size:  100% ;
}
.Layout:has(.text) {
  color: white;
}
.VPButton.brand{
  background-color: #076CF0 !important;
  color: white !important;
  border: 1px solid white !important;
}

.VPButton.alt{
  background-color: #076CF0 !important;
  color: white !important;
  border: 1px solid white !important;
}

.VPButton.medium{
  border-radius: 4px !important;
  font-size: 20px;
}


.DocSearch-Button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 32px;
  height: 32px;
  border-radius: 4px;
  background: transparent;
  transition: border-color 0.25s;
}

@media (min-width: 768px) {
  .DocSearch-Button {
    justify-content: flex-start;
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 0 10px 0 12px;
    width: 100%;
    height: 40px;
    background-color: var(--vp-c-bg-alt);
  }
  // 搜索框文字颜色
  .DocSearch-Button-Keys{
    color:var(--search-text-color)
  }
  .DocSearch-Search-Icon{
    color:var(--search-text-color)
  }
 .DocSearch-Button-Placeholder{
   color:var(--search-text-color)
 }
 .VPNavBar .fill{
    background-color: #076CF0 !important;
 }
}

@media (max-width: 768px) {
  .DocSearch-Button-Keys {
    display: none;
  }
  .VPNavBarHamburger {
    height: 32px !important;
    width: 32px !important;
    border-radius: 4px;
  }
  .DocSearch-Button-Keys{
    color:var(--search-text-color)
  }
  .DocSearch-Search-Icon{
    color:var(--search-text-color)
  }
 .DocSearch-Button-Placeholder{
   color:var(--search-text-color)
 }
}
.DocSearch-Button:hover {
  background-color: #16168a;
}
